.App {
  text-align: center;
  margin:0;
  height:100vh;
  background-image: url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); 
  background-size: auto;
  color: white; 
  padding:5%;
}

header{
  height:10vh;
}

h1{
  margin:0;
}

@media only screen and (max-width:640px){
    header{
      height:5vh;
      font-size: 0.5em;
    }
}