*{
    box-sizing: border-box;
}

.Search{
    border:1px solid black;
    width:100%;
    height:87.5vh;
}

.results{
    display:flex;
    height:69vh;
    flex-direction: column;
    overflow:auto;
}

.loader{
    margin-top:1vh;
}

ul{
    flex:1;
    padding:1vw;
    border:1px solid black;
    border-radius: 50px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.entry {
    flex:1;
    min-width:0;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

form{
    margin-bottom:5vh;
}

@media only screen and (max-width:640px){
    h2{
        font-size: 0.6em;
    }

    input{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    button, select{
        font-size: 0.7em;
    }

    ul{
        padding:4vw;
    }

    .entry{
        font-size:0.6em;
    }

    .results{
        height:65vh;
    }

    .Search{
        height: 92vh;
    }
}